@media screen and (min-width:428px) {
    .container {
        max-width: 426px;
    }

    /* hero */

    .hero-title {
        font-size: 36px;
    }

    /* customers */

    .customers-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 16px;
        row-gap: 72px;
    }

    .customers-item {
        width: calc((100% - 16px) / 2);

    }

    .customers-link {
        width: 190px;
        height: 88px;
    }

    /* modal */

    .modal {
        min-width: 392px;
        min-height: 586px;
    }

    .modal-checkbox-label {
        font-size: 12px;
    }


}

@media screen and (max-width:427px) {

    .customers-item:not(:last-child) {
        margin-bottom: 36px;
    }
}

@media screen and (max-width:767px) {

    /* team */

    .team-item:not(:last-child) {
        margin-bottom: 72px;
    }

    .team-container {
        max-width: 294px;
    }

}

@media screen and (max-width:1199px) {

    /* features */

    .features-item:not(:last-child) {
        margin-bottom: 72px;
    }
}