@media screen and (min-width:768px) {
    .container {
        max-width: 766px;
    }

    /* header */

    .mobile-menu-container {
        display: none;
    }

    .header-logo {
        margin-right: 120px;
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }

    .header-link {
        position: relative;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: var(--main-title-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-link:hover,
    .header-link:focus {
        color: var(--second-accent-color);
    }

    .current-page {
        color: var(--second-accent-color);
    }

    .header-link.current-page::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translatey(100%);
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--second-accent-color);
    }

    .header-address {
        margin-left: auto;
    }

    .address-list {
        display: flex;
        flex-direction: column;
    }

    .address-mail,
    .address-tel {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--text-color);
        padding: 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-mail:hover,
    .address-mail:focus {
        color: var(--second-accent-color);
    }

    .address-tel:hover,
    .address-tel:focus {
        color: var(--second-accent-color);
    }

    /* mobile menu */

    .mobile-menu-btn-open {
        display: none;
    }

    /* hero */

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tab-hero-bg-1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tab-hero-bg-2x.jpg);
        }
    }

    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }

    /* features */

    .features-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);

    }

    .features-subtitle {
        text-align: start;
    }

    /* team */

    .team-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }

    .team-container {
        max-width: 582px;
    }

    /* customers */

    .customers-container {
        max-width: 582px;
    }

    .customers-list {
        column-gap: 24px;

    }

    .customers-item {
        width: calc((100% - 48px) / 3);
    }

    .customers-link {
        width: 168px;
    }


    /* footer */

    .footer-content {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-leftpart {
        margin: 0;
        margin-right: 24px;
    }

    .footer-rightpart {
        margin: 0;
    }

    .footer-form-input-btn {
        flex-direction: row;
    }

    .footer-input {
        margin-right: 24px;
    }

    /* modal */

    .modal {
        min-width: 408px;
        min-height: 586px;
    }

    /* -----------portfolio----------- */

    .portfolio {
        padding-top: 64px;
    }

    .portfolio-btn-list {
        margin-bottom: 64px;
        flex-wrap: nowrap;
        row-gap: 24px;
        justify-content: center;
    }

    .portfolio-btn {
        padding: 12px 24px;
    }

    .portfolio-img-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (max-width:767px) {

    /* header */

    .header-navigation,
    .header-address {
        display: none;
    }


    /* features */

    .features-item:not(:last-child) {
        margin-bottom: 72px;
    }

    /* team */

    .team-item:not(:last-child) {
        margin-bottom: 72px;
    }

    .team-container {
        max-width: 294px;
    }

    /* footer */

    .footer-content {
        gap: 72px;
    }

    .footer-form-btn {
        margin-top: 16px;
    }

    .footer-logo {
        text-align: center;
    }

    .footer-subtitle {
        text-align: center;
    }

    .footer-form-label {
        text-align: center;
    }

    /* ---------portfolio----------- */
    .portfolio-item:not(:last-child) {
        margin-bottom: 48px;
    }


}

@media screen and (min-width:768px) and (max-width:1199px) {
    .header-container {
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .features-list {
        row-gap: 72px;
    }

    .footer-container {
        max-width: 565px;
    }


    .footer-form {
        margin-top: 72px;
    }
}